body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #5d35ca;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    margin: 5;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    margin: 0 0.5rem;
  }
  
  header nav a {
    color: rgb(255, 255, 255);
  }
  
